// ==========================================
//
// 		Основной файл стилей
//
// ==========================================

@charset 'utf-8';

// Зависимости
@import "variables.styl"
@import "../../node_modules/gromov-core-templates/style/mixins.styl"
@import "../../node_modules/gromov-core-templates/style/animate.styl"

// reset 7.7 
@import "../../node_modules/normalize.css/normalize.css"

// Спрайты
@import "../../node_modules/gromov-core-templates/png-sprite/sprite-coords.styl"
@import "../../node_modules/gromov-core-templates/png-sprite/png-sprite.styl"

// Шрифты
// 
@import "../fonts/typography.styl"

html
	font-size 10px

body
	min-width 32rem
	min-height 100vh
	font-family roboto
	font-weight normal
	color #333
	background #fff
	margin 0 auto
	overflow-x hidden
	font-size 1.6rem
	
*
*:before
*:after
	box-sizing border-box

.svg-sprite
	display none


// Компоненты
@import "components/header"
@import "components/intro"
@import "components/footer"